
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    /* column-gap: 1.5em; */
    /* min-height: 100vh; */
}
.flex-item {
    border: 1px solid black;
    flex: 1;
    height: 400px;
}

.custom {
    flex-grow: 0;
}
.flex-item:last-child {
    flex: 0 100%;
}